/* Csak azokat a stílusokat tarjuk meg, amelyeket a Tailwind nem tud könnyen kezelni */

/* Alapelemek */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

/* Egyedi színek és háttér */
.bg-aliceblue {
  background-color: #f0f8ff;
}

/* Code container-hez kapcsolódó stílusok */
.code-container {
  background-color: #282c34;
  border-radius: 5px;
  margin: 15px 0;
  overflow-x: auto;
  max-width: 100%;
}

.code-container pre {
  white-space: pre;
  word-wrap: normal;
}
